/* Common Shared Styles */
body {
    font-family: 'Open Sans', sans-serif;
}

.text-primary {
    color: #E55473;
}

.btn-primary {
    border-radius: 5px;
    background: #E55473;
    border: 0px;
    font-size: 20px;
    font-weight: 700;
    color: white;
    padding: 20px 35px;
}

.section-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.section-description {
    color: #27272799;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin: 24px 663px 48px 663px;


}

/* Header Related Styles */

.header {
    background: #e554731a;
}

.banner {
    max-width: 1922px;
    margin: 0px auto;
    padding: 50px 240px 0px 240px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-title {
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    width: 790px;
}

.banner-description {
    color: #27272799;
    font-size: 18px;
    font-weight: 400;
    margin: 32px 0px;
    width: 680px;
}

.banner-content .btn-primary {
    margin-bottom: 147px;
}

/* Main Section Style */

.main-section {
    max-width: 1922px;
    margin: 0 auto;
    margin-top: 180px;
}

/* Our Featured Flowers */
.flower-container {
    display: flex;
    gap: 24px;
    text-align: center;
    padding-bottom: 30px;
}

#flowers-pink {
    width: 464px;
    height: 428px;
    border-radius: 300px 300px 0px 0px;
    background-color: #a7216226;
    padding: 110px 78px 0px 76px;
}

#flowers-red {
    width: 464px;
    height: 428px;
    border-radius: 300px 300px 0px 0px;
    background-color: #0597a026;
    padding: 110px 78px 0px 76px;
}

#flowers-yellow {
    width: 464px;
    height: 428px;
    border-radius: 300px 300px 0px 0px;
    background: #477d1126;
    padding: 110px 78px 0px 76px;
}

.flower {

    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
    margin: 210px;
}

/* Support Section */

.support-section {
    margin-top: 128px;
    border-radius: 8px;
    background: #2727270d;
    margin-bottom: 128px;
    width: 100%;
}

#support {

    display: flex;
    gap: 450px;
    margin: 0px 2px 0px 400px;
    padding-top: 85px;
}

.s-content {
    display: flex;
    color: #272727cc;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    gap: 200px;
    text-align: center;
    padding-bottom: 87px;
    margin: 0px 0px 0px 240px;
}

/* Hot Deal Section */

.hot-deal-section {
    border-radius: 8px;
    background-color: #e554730d;
    margin-bottom: 128px;
}

.hot-deal {
    max-width: 1922px;
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.hot-deal-title {
    margin: 230px 186px 24px 200px;
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

#off {
    color: #E55473;
    font-size: 40px;
    font-weight: 800;
}

.hot-deal-description {
    margin: 0px 186px 32px 186px;
    color: #27272799;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

.hot-deal-content .btn-primary {
    margin: 0px 417px 162px 417px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.roses {
    margin: 100px 410px 100px 186px;
}

/* Items Section */
.insta {
    max-width: 1922px;
    margin: 0 auto;
}

.insta-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.items-description {
    color: #27272799;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin: 24px 663px 48px 663px;
}

/* Item Image Section */

.item-image {
    max-width: 1922px;
    margin: 0px auto;
    margin-bottom: 128px;


}

#flower-items {
    display: flex;
    gap: 24px;
    justify-content: center;
    image-resolution: 100%;
}

/* Upcoming Section */
.upcoming {
    max-width: 1922px;
    margin: 0 auto;
}

.upcoming-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.upcoming-description {
    color: #27272799;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin: 24px 663px 48px 663px;
}

/* Online Ordering System */

.image-container {
    display: flex;
    height: 500px;
    margin: 100px 0 100px 20px;
  }
  
  .circular-image {
    width: 500px; 
    height: 500px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 20px; 
  }
  
  .circular-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
/*   
.circular-image {
    margin: 100px 186px 100px 0px;
    align-items: left;
    display: flex;
    gap: 20px;
}

.circular-image {
    width: 150px;
    height: 150px; 
    border-radius: 50%; 
    overflow: hidden;
    mirgin right: 20px;
  }
  
  .circular-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
   */

.online-ordering-system {
    border-radius: 8px;
    background-color: #e554730d;
    margin-bottom: 128px;
}

.online-contant {
    max-width: 1922px;
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.online-title {
    color: #272727;
    font-size: 60px;
    font-weight: 800;
    text-align: right;
   

}

#on-line {
    color: #E55473;
    font-size: 60px;
    font-weight: 800;
    margin: 80px 300px 24px 186px;
}

.online-description {
    color: #272727;
    text-align: right;
    font-size: 25px;
    font-weight: 600;
    margin: 0px 150px 32px 186px;
    text-align: center;
}

/* Get The Latest Deals Section */

.get-the-latest-deal {
    max-width: 1922px;
    margin: 0px auto;
    background-image: url('../image/Rectangle\ 9.png');
    width: 100%;
    height: 449px;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 128px;
}

.deals-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    padding: 120px 0px 0px 0px;
}

.deals-description {
    color: #27272799;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

.email input[type="email"] {
    border-radius: 8px;
    background: white;
    width: 700px;
    height: 65px;
    border: 0px;
}

/* Footer Section */

.footer {
    background-color: #111010;
    text-align: center;
    height: 449px;
    padding-top: 128px;
}

.footer-section {
    max-width: 1922px;
    margin: 0px auto;
}

#f-flower {
    color: #E55473;
    font-size: 48px;
    font-weight: 800;

}

#f-shop {
    color: white;
    font-size: 48px;
    font-weight: 800;
}

.description {
    color: #ffffffe6;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin: 24px 650px 32px 647px;

}

.copyright {
    color: #ffffff66;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}