/* Common Shared Styles */
body {
    font-family: 'Open Sans', sans-serif;
}

.text-primary {
    color: #E55473;
}

.btn-primary {
    border-radius: 5px;
    background: #E55473;
    border: 0px;
    font-size: 20px;
    font-weight: 700;
    color: white;
    padding: 20px 35px;

}

.section-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.section-description {
    color: #27272799;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin: 24px 663px 48px 663px;


}

/* Header Related Styles */

.header {
    background: #e554731a;
}

.banner {
    padding: 50px 240px 0px 240px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-title {
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    width: 790px;
}

.banner-description {
    color: #27272799;
    font-size: 18px;
    font-weight: 400;
    margin: 32px 0px;
    width: 680px;
}

.banner-content .btn-primary {
    margin-bottom: 147px;
}

/* Main Section Style */

main {
    max-width: 1922px;
    margin: 0 auto;
    margin-top: 180px;
}

/* Our Featured Flowers */
.flower-container {
    display: flex;
    gap: 24px;
    text-align: center;
    padding-bottom: 30px;
}

#flowers-pink {
    width: 464px;
    height: 428px;
    border-radius: 300px 300px 0px 0px;
    background-color: #a7216226;
    padding: 110px 78px 0px 76px;
}

#flowers-red {
    width: 464px;
    height: 428px;
    border-radius: 300px 300px 0px 0px;
    background-color: #0597a026;
    padding: 110px 78px 0px 76px;
}

#flowers-yellow {
    width: 464px;
    height: 428px;
    border-radius: 300px 300px 0px 0px;
    background: #477d1126;
    padding: 110px 78px 0px 76px;
}

.flower {

    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
    margin: 210px;
}

/* Support Section */

.support-section {
    margin-top: 128px;
    border-radius: 8px;
    background: #2727270d;
}

#support {
    
    display: flex;
    gap: 450px;
    margin: 0px 2px 0px 400px;
    padding-top: 85px;



}

.s-content {
    display: flex;
    color: #272727cc;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    gap: 200px;
    text-align: center;
    padding-bottom: 87px;
    margin: 0px 0px 0px 240px;
}